<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover"/>
    <title>article</title>
    <link rel="stylesheet" href="/dist/style/weui.css"/>
    <link rel="stylesheet" href="/dist/example/example.css"/>
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<div class="container" id="container">
    <div class="page article js_show">

        <div class="page__bd">
            <article class="weui-article">
                <section>
                    <p th:text="${msg}"></p>
                </section>
            </article>
        </div>

    </div>
</div>

</body>
</html>